[Desktop Entry]
Name=BZFriendsPlasmoid
Name[ast]=BZFriendsPlasmoid
Name[bg]=BZFriendsPlasmoid
Name[ca]=BZFriendsPlasmoid
Name[ca@valencia]=BZFriendsPlasmoid
Name[cs]=BZFriendsPlasmoid
Name[da]=BZFriendsPlasmoid
Name[de]=BZFriendsPlasmoid
Name[el]=BZFriendsPlasmoid
Name[en_GB]=BZFriendsPlasmoid
Name[eo]=BZFriendsPlasmoid
Name[es]=BZFriendsPlasmoid
Name[et]=BZFriendsPlasmoid
Name[fi]=BZFriendsPlasmoid
Name[fr]=BZFriendsPlasmoid
Name[ga]=BZFriendsPlasmoid
Name[gl]=BZFriendsPlasmoid
Name[hu]=BZFriendsPlasmoid
Name[it]=BZFriendsPlasmoid
Name[ja]=BZFriendsPlasmoid
Name[kk]=BZFriendsPlasmoid
Name[km]=BZFriendsPlasmoid
Name[ko]=BZFriendsPlasmoid
Name[lv]=BZFriendsPlasmoid
Name[nb]=BZFriendsPlasmoid
Name[nds]=BZFriendsPlasmoid
Name[nl]=BZFriendsPlasmoid
Name[nn]=BZFriendsPlasmoid
Name[pa]=BZFriendsPlasmoid
Name[pl]=BZFriendsPlasmoid
Name[pt]=BZFriendsPlasmoid
Name[pt_BR]=BZFriendsPlasmoid
Name[ro]=BZFriendsPlasmoid
Name[ru]=BZFriendsPlasmoid
Name[sr]=BZFriendsPlasmoid
Name[sr@ijekavian]=BZFriendsPlasmoid
Name[sr@ijekavianlatin]=BZFriendsPlasmoid
Name[sr@latin]=BZFriendsPlasmoid
Name[sv]=BZFriendsPlasmoid
Name[tr]=BZFriendsPlasmoid
Name[uk]=BZFriendsPlasmoid
Name[x-test]=xxBZFriendsPlasmoidxx
Name[zh_CN]=BZFriendsPlasmoid
Name[zh_TW]=BZFriendsPlasmoid
Comment=Plasma BZFriendsPlasmoid
Comment[ast]=Plasma BZFriendsPlasmoid
Comment[ca]=Plasma BZFriendsPlasmoid
Comment[ca@valencia]=Plasma BZFriendsPlasmoid
Comment[cs]=Plasma BZFriendsPlasmoid
Comment[da]=Plasma BZFriendsPlasmoid
Comment[de]=Plasma BZFriendsPlasmoid
Comment[el]=Plasma BZFriendsPlasmoid
Comment[en_GB]=Plasma BZFriendsPlasmoid
Comment[eo]=Plasma BZFriendsPlasmoid
Comment[es]=Plasma BZFriendsPlasmoid
Comment[et]=Plasma BZFriendsPlasmoid
Comment[fi]=Plasma BZFriendsPlasmoid
Comment[fr]=Plasma BZFriendsPlasmoid
Comment[ga]=Plasma BZFriendsPlasmoid
Comment[gl]=Plasma BZFriendsPlasmoid
Comment[hu]=Plasma BZFriendsPlasmoid
Comment[it]=Plasma BZFriendsPlasmoid
Comment[ja]=Plasma BZFriendsPlasmoid
Comment[kk]=Plasma BZFriendsPlasmoid
Comment[km]=ប្លាស្មា BZFriendsPlasmoid
Comment[ko]=Plasma BZFriendsPlasmoid
Comment[lv]=Plasma BZFriendsPlasmoid
Comment[nb]=Plasma BZFriendsPlasmoid
Comment[nds]=Plasma BZFriendsPlasmoid
Comment[nl]=Plasma BZFriendsPlasmoid
Comment[nn]=Plasma BZFriendsPlasmoid
Comment[pa]=ਪਲਾਜ਼ਮਾ BZFriendsPlasmoid
Comment[pl]=Plazma BZFriendsPlasmoid
Comment[pt]=Plasma BZFriendsPlasmoid
Comment[pt_BR]=Plasma BZFriendsPlasmoid
Comment[ro]=Plasma BZFriendsPlasmoid
Comment[ru]=Plasma BZFriendsPlasmoid
Comment[sr]=Плазмин BZFriendsPlasmoid
Comment[sr@ijekavian]=Плазмин BZFriendsPlasmoid
Comment[sr@ijekavianlatin]=Plasmin BZFriendsPlasmoid
Comment[sr@latin]=Plasmin BZFriendsPlasmoid
Comment[sv]=Plasma BZFriendsPlasmoid
Comment[tr]=Plasma BZFriendsPlasmoid
Comment[uk]=Плазма BZFriendsPlasmoid
Comment[x-test]=xxPlasma BZFriendsPlasmoidxx
Comment[zh_CN]=Plasma BZFriendsPlasmoid
Comment[zh_TW]=Plasma BZFriendsPlasmoid
Type=Service
Icon=bzfriends
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_bzfriendsplasmoid
X-KDE-PluginInfo-Author=Ákos Tóth
X-KDE-PluginInfo-Email=zuiadaton@gmail.com
X-KDE-PluginInfo-Name=bzfriendsplasmoid
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://sourceforge.net/projects/bzfriendsplasm/develop
X-KDE-PluginInfo-Category=Network
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-NotificationArea=true

